.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.prefectures_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section_title {
  font-size: 2rem;
}