.module {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.25em solid var(--primary);
  border-top-color: #ddd;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}